<html>
	<head>
		<title>dojo</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
		<div ng-app="dojoApp">
			<div ng-controller="dojoController">
				<input type="text" ng-model="name"/>{{name}}
				<input type="button" ng-click="validateName()" value="validate"/>
				<input type="button" ng-click="saveStuff(name)" value="Save"/>
			</div>
		</div>
	</body>
</html>